*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(#200016,#10001f);
    height:100vh;
    font-family: system-ui;
}
a{
    text-decoration: none;
    color: #fff ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header.logo{
   font-size: 30px;
   text-transform: uppercase;
}